body
{
    background-color: rgb(144, 144, 231);
    color: white;
}


h3
{
    color: red;
}
h1
{
    color: seagreen;
    font-size: x-large;
}

h4
{
 color:green;
     background-color: rgb(14, 144, 31);
}    
